{% if include.limit %}
<ul>
  {% for post in site.posts limit:include.limit %}
    {% if include.year %}
      {% unless post.next %}
<h3>{{ post.date | date: '%Y' }}</h3>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
<h3>{{ post.date | date: '%Y' }}</h3>
        {% endif %}
      {% endunless %}
    {% endif %}
<article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <li><h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{% unless include.year %}[{{ post.date | date: '%Y-%m-%d' }}] {% endunless %}{{ post.title }}</a></h2></dt>
  {% unless include.noexcerpt %}
  <dd itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</dd>
  {% endunless %}
</article>
  {% endfor %}

</ul>
{% else %}
<dl>

  {% for post in site.posts %}
    {% if include.year %}
      {% unless post.next %}
<h3>{{ post.date | date: '%Y' }}</h3>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
<h3>{{ post.date | date: '%Y' }}</h3>
        {% endif %}
      {% endunless %}
    {% endif %}
<article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <dt><h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{% unless include.year %}[{{ post.date | date: '%Y-%m-%d' }}] {% endunless %}{{ post.title }}</a></h2></dt>
  {% unless include.noexcerpt %}
  <dd itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</dd>
  {% endunless %}
</article>
  {% endfor %}

</dl>
{% endif %}
